<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PalDeck_Cofiguration.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PalDeck_Cofiguration.My.MySettings>
            <setting name="ip" serializeAs="String">
                <value>192.168.1.216</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>4455</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>u0daxOSrsSrN10J1</value>
            </setting>
            <setting name="scenelink1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
        </PalDeck_Cofiguration.My.MySettings>
    </userSettings>
</configuration>
